html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.titleBox {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.english {
    font-size: large;
    font-weight: 600;
    padding: 10px 75px 0 75px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}